<footer class="site-footer">
  <div class="wrapper">
    <strong>{{ site.name }}</strong>
    <span class="divider">|</span>
    <a href="https://www.facebook.com/Funktum">Facebook</a>
    <span class="divider">|</span>
    <a href="mailto:{{ site.sampsa.email }}">{{ site.sampsa.email }}</a>
    {% include fb_like.html %}
  </div>
  <div class="wrapper">
    <strong>Yhteistyökumppani</strong>
    <span class="divider">|</span>
    <a href="https://www.folkhalsan.fi/"><img src="/assets/img/folkhalsan-logo.png" height="12"></a>
  </div>
</footer>