<header class="site-header">

  <div class="top-bar">
    <div class="wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/funktum-logo.svg" alt="{{ site.name }}" height="24">
      </a>
      <nav class="site-nav">
        {% include navigation.html context="/" %}
      </nav>
    </div>
  </div>

  {% if page.url == '/' %}
    <div class="hero">
      <div class="wrapper">
        <h1>{{ site.description }}</h1>
          <a href="{{ site.baseurl }}/palvelut/" class="btn btn-light">Tutustu palveluihin</a>
          <a href="#yhteystiedot" class="btn btn-light">Ota yhteyttä</a>
      </div>
    </div>
  {% endif %}

  {% if page.hero_image %}
    <div class="hero" style="background-image: url({{ page.hero_image | prepend: '/media/' | prepend: site.baseurl }})"></div>
  {% endif %}

</header>
