{% include page_image_meta.html %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.noindex %}
    <meta name="robots" content="noindex,nofollow">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  {% if page.is_index %}
    <meta property="og:title" content="Henkilökohtaista valmennusta, liikunnanohjausta ja luennointia">
    <meta property="og:description" content="{{ site.description }}">
  {% else %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | markdownify | remove: '<img>' | strip_html | truncate: 160 }}{% endif %}">
  {% endif %}
  <meta property="og:image" content="{{ site.url }}{% if page.hero_image %}{{ page.hero_image }}{% elsif page_image_src %}{{ page_image_src }}{% else %}{{ site.share_image }}{% endif %}">
  <meta property="og:site_name" content="Funktum">
  <meta property="og:url" content="{{ site.url | append: page.url }}">
  <meta property="og:type" content="website">
  <meta property="article:publisher" content="https://www.facebook.com/Funktum" />
  <meta property="fb:app_id" content="875066682546378" />

  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <script src="{{ '/js/vendor/modernizr-2.8.3.min.js' | prepend: site.baseurl }}"></script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.4&appId=875066682546378";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</head>