<header class="site-header">

  <div class="top-bar">
    <div class="wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img class="desktop" src="{{ site.baseurl }}/assets/img/funktum-logo.svg" alt="{{ site.name }}" height="24">
        <img class="mobile" src="{{ site.baseurl }}/assets/img/funktum-logo-f.svg" alt="{{ site.name }}" height="72">
      </a>
      <nav class="site-nav">
        {% include navigation.html context="/" %}
      </nav>
    </div>
  </div>

  {% if page.hero_image %}
    <div class="hero" style="background-image: url({{ page.hero_image | prepend: site.baseurl }})">
      {% if page.hero_text %}
        <div class="wrapper">
          <h1>{{ page.hero_text }}</h1>
          {% if page.hero_buttons %}
            <a href="./palvelut/" class="btn btn-light">Tutustu palveluihin</a>
            <a href="./#yhteystiedot" class="btn btn-light">Ota yhteyttä</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

</header>
