<header class="site-header">

  <div class="top-bar">
    <div class="wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/funktum-logo.svg" alt="{{ site.name }}" height="24">
      </a>
      <nav class="site-nav">
        {% include navigation.html context="/" %}
      </nav>
    </div>
  </div>

  {% if page.url == '/' %}
  <div class="hero">
    <div class="wrapper">
      <h1>{{ site.description }}</h1>
      {% if site.buttonurl %}
      <a href="{{ site.buttonurl | prepend: site.baseurl }}" class="btn btn-light">{{ site.buttontext }}</a>
      <a href="#yhteystiedot" class="btn btn-light">Ota yhteyttä</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if page.image %}
  <div class="hero" style="background-image: url({{ page.image }})"></div>
  {% endif %}

</header>
