// Box-sizing

* {
  box-sizing: border-box;
}


// Reset some basic elements

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, table {
  margin: 0;
  padding: 0;
}


// Basic styling

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}


// Set `margin-bottom` to maintain vertical rhythm

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


// Images

img {
  max-width: 100%;
  vertical-align: middle;
}


// Figures

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


// Lists

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}


// Headings

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'nexa_boldregular', $base-font-family;
}

h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: $spacing-unit;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
  margin-top: $spacing-unit;
}

// Links

a {
  color: $brand-color;
  text-decoration: none;
  @include transition(all);

  &:hover {
    color: darken($brand-color, 20%);
    text-decoration: underline;
  }
}

a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}


// Blockquotes

blockquote {
  color: $grey-color;
  border-left: 3px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


// Code formatting

pre,
code {
  color: $grey-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

code {
  padding: 0;
}

pre {
  padding: $spacing-unit / 2;
  overflow-x: scroll;
  background-color: $grey-color-light;
  word-wrap: break-word;

  code {
    color: $grey-color-dark;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


// Wrapper

.wrapper {
  max-width: $content-width + ($spacing-unit * 2);
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @include clearfix;

  @include media-query($on-laptop) {
    max-width: $content-width + ($spacing-unit * 1.5);
    padding: 0 ($spacing-unit / 1.5);
  }
}

// Buttons

.btn {
  background-color: $brand-color;
  color: white;
  font-family: 'nexa_boldregular', $base-font-family;
  line-height: 1;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  border: 0;
  margin-right: 4px;
  margin-bottom: 4px;

  &:hover, &:focus {
    color: white;
    text-decoration: none;
    background-color: darken($brand-color, 8%);
    outline: none;
  }
}

.btn-light {
  background-color: white;
  color: $brand-color;

  &:hover, &:focus {
    background-color: rgba(white, 0.9);
    color: $brand-color;
  }
}


// Dividers

hr {
  background-color: darken($grey-color-light, 6%);
  height: 1px;
  border: none;
  outline: none;
  margin: ($spacing-unit * 1.5) 0;

  @include media-query($on-palm) {
    margin: $spacing-unit 0;
  }
}

// Tables

table {
  margin-bottom: $spacing-unit;
  border: none;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    border-bottom: 1px solid darken($grey-color-light, 3%);
  }

  tbody {
    tr {
      border-bottom: 1px solid darken($grey-color-light, 3%);

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  td, th {
    padding: 10px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }
}

// Image grid

p {
  img:nth-child(1):nth-last-child(2),
  img:nth-child(2):nth-last-child(1) {
    max-width: 49%;
    margin-right: 2%;
    @include inline-block-fix();

    @include media-query($on-palm) {
      max-width: 100%;
      margin: 0 0 ($spacing-unit / 2) 0;
    }
  }

  img:nth-child(1):nth-last-child(3),
  img:nth-child(2):nth-last-child(2),
  img:nth-child(3):nth-last-child(1) {
    max-width: 32%;
    margin-right: 2%;
    @include inline-block-fix();

    @include media-query($on-palm) {
      max-width: 100%;
      margin: 0 0 ($spacing-unit / 2) 0;
    }
  }

  img:nth-child(1):nth-last-child(4),
  img:nth-child(2):nth-last-child(3),
  img:nth-child(3):nth-last-child(2),
  img:nth-child(4):nth-last-child(1) {
    max-width: 23.5%;
    margin-right: 2%;
    @include inline-block-fix();

    @include media-query($on-palm) {
      max-width: 100%;
      margin: 0 0 ($spacing-unit / 2) 0;
    }
  }

  img:first-child {
    margin-left: 0 !important;
  }

  img:last-child {
    margin-right: 0 !important;
  }
}

// Lightbox

.image-popup {
  cursor: pointer;
  @include transition(all);

  &:hover {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  }
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);

  .close {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 31px;
    width: 36px;
    height: 36px;
    background-color: $text-color;
    color: white;
  }

  #content {
    padding: $spacing-unit * 1.5;
    @include vertical-align();
  }

  img {
    box-shadow:0 0 8px rgba(0,0,0,0.3);
    max-height: 560px;
  }
}