---
title: Blog
layout: default
weight: 4
---

<div class="post-list">

  {% for post in paginator.posts %}
  <div class="post" id="{{ post.id }}">
    <h2 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="post-meta">{% include month_locales.html %}</p>
    {% if post.image %}
      <p>
        <img src="{{ post.image | prepend: site.baseurl }}" alt="">
      </p>
    {% endif %}
    <p>{{ post.content | remove: '<img>' | strip_html | truncatewords: 50 }}</p>
    <p class="post-link">
      <a href="{{ post.url | prepend: site.baseurl }}">Lue lisää &rarr;</a>
    </p>
  </div>
  {% endfor %}

</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn next">‹ Vanhemmat</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn previous">Uudemmat ›</a>
  {% endif %}
</div>