---
title: Blogi
layout: default
description: Blogautuksia tominallisen harjoittelun ja henkilökohtaisen valmennuksen kiinnostavasta maailmasta.
weight: 10
---

{% if paginator.page == 1 %}
  <div class="post-featured">
    {% for post in paginator.posts | limit: 1 %}
    <div class="post" id="{{ post.id | remove: '/blog/' }}">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <p class="post-meta">{% include month_locales.html %}</p>
      <article class="post-content">
          {{ post.content }}
        </article>
    </div>
    {% endfor %}
  </div>
{% endif %}

<div class="post-list">
  {% if paginator.page == 1 %}
    {% for post in paginator.posts | offset: 1 %}
    <div class="post" id="{{ post.id | remove: '/blog/' }}">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">{{ post.title }}</h4>
        <span class="post-meta">{% include month_locales.html %}</span>
      </a>
    </div>
    {% endfor %}
  {% else %}
    {% for post in paginator.posts %}
    <div class="post" id="{{ post.id | remove: '/blog/' }}">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">{{ post.title }}</h4>
        <span class="post-meta">{% include month_locales.html %}</span>
      </a>
    </div>
    {% endfor %}
  {% endif %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn">&lsaquo; Uudemmat</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn">Vanhemmat &rsaquo;</a>
  {% endif %}
</div>