---
title: Blog
layout: default
description: Blogautuksia tominallisen harjoittelun ja henkilökohtaisen valmennuksen kiinnostavasta maailmasta.
weight: 4
---

<div class="post-list">

  {% for post in paginator.posts %}
  <div class="post" id="{{ post.id | remove: '/blog/' }}">
    <h2 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="post-meta">{% include month_locales.html %}</p>
    <p>
      <a href="{{ post.url | prepend: site.baseurl }}">{% include post_image.html %}</a>
    </p>
    <p>{{ post.content | remove: '<img>' | strip_html | truncatewords: 50 }}</p>
    <p class="post-link">
      <a href="{{ post.url | prepend: site.baseurl }}">Lue lisää &rarr;</a>
    </p>
  </div>
  {% endfor %}

  {% comment %}
  {% for post in paginator.posts %}
  <div class="post" id="{{ post.id | remove: '/blog/' }}">
    <h2 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="post-meta">{% include month_locales.html %}</p>
    <p>{{ post.content }}</p>
  </div>
  {% endfor %}
  {% endcomment %}

</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn">&lsaquo; Uudemmat</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn">Vanhemmat &rsaquo;</a>
  {% endif %}
</div>