---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="lightbox">
      <span class="close">&times;</span>
      <div id="content">
        <img src="#" />
      </div>
    </div>

    {% include header.html %}

    <section class="page-content" role="main">
      <div class="wrapper">
        {{ content }}
        <br/>
        <div class="fb-like" data-href="https://www.facebook.com/Funktum" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </section>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
